#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: 1px solid black;
}

#logo-container{
    height: 100px;
    width: 100px;
    /* background-color: red; */
}

.logo{
    width: 100px;
    /* background-color: yellow; */
}

.nav-items > ul{
    display: flex;
    font-size: 20px;
    /* height: 100px; */
    padding: 10px 20px;
    margin: 30px;
}

.nav-items > ul > li{
    list-style: none;
    margin-right: 30px;
}

.search{
   padding: 0 8px;
}

.filter{
    display: flex;
    padding: 10px;
}

.restaurant-container{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    /* background-color: rgb(200, 199, 199); */
    padding: 5px;
    margin: 5px;
    width: 200px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid rgb(178, 174, 174);
}

.res-logo{
    width: 100%;
    height: 40%;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.shimmer-card{
    margin: 20px;
    width: 220px;
    height: 500px;
    background: #f0f0f0;
}

.shimmer-card-logo{
    margin-top: 5px;
    margin-left: 5px;
    width: 13.1rem;
    height: 10rem;
    background: rgb(194, 193, 193);
}

.shimmer-card-heading{
    margin-top: 3rem;
    margin-left: 4px;
    width: 10rem;
    height: 28px;
    background: rgb(194, 193, 193);
}

.shimmer-card-cuisine{
    margin-top: 1rem;
    margin-left: 4px;
    width: 12rem;
    height: 65px;
    background: rgb(194, 193, 193);
}

.shimmer-card-rating{
    margin-top: 1rem;
    margin-left: 4px;
    width: 4rem;
    height: 30px;
    background: rgb(194, 193, 193);
}

.shimmer-card-cost{
    margin-top: 1rem;
    margin-left: 4px;
    width: 6rem;
    height: 30px;
    background: rgb(194, 193, 193);
}

.shimmer-card-distance{
    margin-top: 1rem;
    margin-left: 4px;
    width: 7rem;
    height: 30px;
    background: rgb(194, 193, 193);
}

.login{
    /* margin-top: 10px; */
    /* padding: 0 10px; */
    background: red;
    border: none;
    color: white;
    width: 5rem;
    height: 2rem;
    font-size: 15px;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}